# {{ ansible_managed }}

PidFile {{ openssh_pidfile_path }}

{% for port in openssh_ports %}
Port {{ port }}
{% endfor %}

HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

Ciphers {{ openssh_ciphers | reject('upper') | join(',') }}
KexAlgorithms {{ openssh_key_exchange_algorithms | reject('upper') | join(',') }}
MACs {{ openssh_mac_algorithms | reject('upper') | join(',') }}

ChallengeResponseAuthentication no
PasswordAuthentication no
UsePAM yes

AcceptEnv LANG LC_*
PrintMotd no
Subsystem sftp internal-sftp
UseDNS no

ClientAliveInterval 120
